<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Messages:</h2>
    <div>
      <% messageArray.map( message=> { %>
      <p><%= message.text %></p>
      <p><%= message.user %></p>
      <p><%= message.added %></p>
      <% }).join('') %>
    </div>
    <a href="/new">Add new message</a>
  </body>
</html>
